.signika{
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
}

.lustria-regular {
    font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;
}  

.libre-franklin {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}
:root{
    --color-primario: #2671bc;
    --color-primario-suave:#7ba1b3;
    --background: #223344;
    --color-blanco: #f9f3e5;
    --title-font:signika;
    --text-font:lustria;
    --subtitle-font: libre-franklin;
    --title-font-size: 3rem;
    --text-font-size:1.6rem;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*
naranja fuerte:bb3c06
naranja:fa8104
amarillo:ffb800
*/
html{
    font-size: 62.5%;
}

.navbar{
    background-color: #2671bc;
    font-family: var(--title-font);
    font-size: 2.3rem;
}

.img-logo img{
    width: 200px;
}

.resaltar{
    color: #fa8104;
}

section{
    background-color: #223344;
    color: var(--color-blanco);
}

.contenido-nav{
    align-items: center;
}

.nav-item:hover{
    text-decoration: underline var(--color-blanco) 1px;
}

.nav{
    color: var(--color-blanco) !important;
    margin: 6px ;
}


.imagen-inicio{
    border-radius: 50px;
    margin: 40px 30px;
}



.contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.contenido-inicio{
    font-size: 1.6rem;
    margin: 50px 30px 0px;
}

.texto{
    font-family: var(--text-font);
    font-size: var(--text-font-size);
}

.titulo{
    font-family: var(--title-font);
    font-size: var(--title-font-size);
}

.navbar-toggler{
    border:  1px solid var(--color-blanco) !important;
}

.contenedor-card{
    flex-direction: column;
    flex-wrap: wrap;
}
/*Card tienda*/
.card-tienda{
    background-color: rgba(123, 161, 179, .5);
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
    margin: 35px;
    height: 425px;
    width: 300px;
    box-shadow: 13px 13px 65px 0px rgba(0,0,0,0.75);
}
.card-tienda img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.card-text{
    font-family: var(--text-font);
    font-size: var(--text-font-size);
}

.card-text h3{
    font-family: var(--title-font);
    padding-top: 8px;
}

.carro{
    cursor: pointer;
}

.carro:hover{
    background-color: rgb(56, 77, 97);
    border-radius: 15px;
    margin: 0px 60px;
}
/*Fin card tienda*/
/*Card peliculas*/
.card-peli img{
    width: 250px;
    height: 370px;
    border-radius: 5px;
}


.container-peli{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    grid-template-rows: repeat(12 , 1fr);
    grid-template-areas: 
    "peli-1"
    "peli-2"
    "peli-3"
    "peli-4"
    "peli-5"
    "peli-6"
    "peli-7"
    "peli-8"
    "peli-9"
    "peli-10"
    "peli-11"
    "peli-12";
    gap:28px;
    padding: 35px 25px;
}

.container-peli .card-peli{
    box-shadow: 0 15px 20px rgba(0,0,0,.7);
    border-radius: 15px;
    background-color: rgba(123, 161, 179, .5);
    text-align: center;
    padding: 30px 20px;
    align-items: center;
}

.container-peli .card-peli h3{
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    padding: 10px 0;
}

.container-peli .card-peli p{
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    line-height: 1.8;
}
/*Fin cards peliculas*/

/*Card parque*/
.lugares-parque{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-parque{
    margin: 25px 30px;
    height: 180px;
    width: 190px;
    text-align: center;
}
.card-parque img{
    height: 150px;
    width: 150px;
}

.card-parque h3{
    font-family: var(--title-font);
    font-size: var(--title-font-size);
}

.card-parque-text{
    width: 200px;
}

.parque-texto{
    display: flex;
    justify-content: center;
}

.contenido-parque p{
    padding: 10px 20px 0px 45px;
    font-family: var(--text-font);
    margin-top: 20px;
    font-size: 16px;
}
.contenido-parque .mapa{
    width: 85%;
    height: 350px;
    margin: 15px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.contenido-parque h2{
    font-size: 30px;
    font-family: var(--subtitle-font);
    margin: 10px 25px;
}

.contenido-parque h1{
    font-size: 34px;
    font-family: var(--title-font);
    padding: 10px 25px;
}

.contenido-parque h4{
    font-size: 25px;
    margin: 15px 30px;
}
.titulo-parque{
    height: 100px;
    display: flex;
}

.muestra-titulo{
    padding-top: 25px;
    height: 280px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0px 100px 100px 0px;
    box-shadow: 15px 15px 50px black;
}
.muestra-titulo img{
    height: 164px;
    width: 164px;
    border-radius: 5px;
    margin-left: 15px;
}
/*Titulo Almacen*/
.contenedor-titulo-almacen{

    background-color: #FF8633;
}

/*Titulo Colina*/
.contenedor-titulo-colina{
    background-color: #00B8FF;
}

/*Titulo bosque*/
.contenedor-titulo-bosque{
    background-color: #71D331;
}

/*Titulo Villa*/
.contenedor-titulo-villa{
    background-color: #9d67d0;
}

/*Titulo Valle*/
.contenedor-titulo-valle{
    background-color: #e076d7;
}


.contenido-parque a{
    font-family: var(--title-font);
    color: var(--color-blanco);
}
.contenido-parque a:hover{
    font-family: var(--title-font);
    font-size: 18px;
    color: #FF8633;
}
.contenido-parque a:visited{
    font-family: var(--title-font);
    color:var(--color-blanco);
}

.card-parque-text a{
    font-family: var(--title-font);
    color: var(--color-blanco);
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}
.card-parque-text a:hover{
    font-family: var(--title-font);
    color: var(--color-blanco);
    font-size: 21px;
    text-decoration: none;
    font-weight: 700;
}


/*Autores*/
.contenido-autores{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
    "img-autores-1 img-autores-1"
    "text-autores-1 text-autores-1"
    "img-autores-2 img-autores-2"
    "text-autores-2 text-autores-2"
    ;
    padding: 30px 16px;
}
.img-autores-1{
    grid-area: img-autores-1;
    display: flex;
    justify-content: center;
}
.text-autores-1{
    grid-area:text-autores-1;
    font-family: var(--subtitle-font);
    padding-top: 25px;
}
.img-autores-2{
    grid-area: img-autores-2;
    display: flex;
    justify-content: center;
}
.text-autores-2{
    grid-area:text-autores-2;
    font-family: var(--subtitle-font);
    padding-top: 25px;
}

.text-autores-1 p{
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    padding-top: 15px;
}
.text-autores-2 p{
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    padding-top: 15px;
}

.contenido-autores img{
    height: 400px;
    width: 250px;
    border-radius: 15px;
}

/*footer*/
.footer-contenedor{
    background-color: var(--color-primario);
    height:100px;
    color: var(--color-blanco);
    font-size: var(--text-font-size);
    text-align: center;
    font-family: var(--title-font);
    padding-top: 10px;
}

.footer-contenedor ul il{
    margin: 6px 10px;
}

/*MEDIA QUERYS*/
@media (min-width:768px) {
    .imagen-inicio{
        width: 600px;
    }
    
    .contenedor-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /*parque*/
    .muestra-titulo{
        margin-top: 25px;
        height: 230px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 100px 100px 0px;
        box-shadow: 15px 15px 50px black;
    }

    .contenido-parque .mapa{
        width: 80%;
        height: 400px;
    }

    /*peliculas*/
    .container-peli{
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(4 , 1fr);
    grid-template-areas: 
    "peli-1 peli-2 peli-3"
    "peli-4 peli-5 peli-6"
    "peli-7 peli-8 peli-9"
    "peli-10 peli-11 peli-12"
;
    }
    /*autores*/
    .contenido-autores{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        grid-template-rows: 1fr .5fr;
        grid-template-areas: 
        "img-autores-1 text-autores-1"
        "img-autores-1 text-autores-1"
        "img-autores-2 text-autores-2"
        "img-autores-2 text-autores-2"
        ;
        row-gap: 30px;
        padding: 30px 16px;
    }
    .contenido-autores img{
        height: 500px;
        width: 350px;
        border-radius: 15px;
    }
    .text-autores-2{
        padding-top: 30px;
    }
    .text-autores-1{
        padding-top: 30px;
    }
}

@media (min-width:1024px){
    .imagen-inicio{
        height: 50%;
        width: 50%;
        margin: 80px 0px 80px;
    }
    .contenedor-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .muestra-titulo{
        justify-content: space-around; 
        width: 60%;
    }

    .contenido-parque .mapa{
        height: 500px;
    }

    /*Peliculas*/
    .container-peli{
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: repeat(3 , 1fr);
        grid-template-areas: 
        "peli-1 peli-2 peli-3 peli-4"
        "peli-5 peli-6 peli-7 peli-8"
        "peli-9 peli-10 peli-11 peli-12"
    ;
        }
}