@mixin flex ($flex-direction, $flex-wrap,$justify-content, $align-items){
    display: flex;
    @if $flex-direction !=null{
        flex-direction: $flex-direction;
    }
    @if $flex-wrap !=null{
        flex-wrap: $flex-wrap;
    }
    @if $justify-content !=null{
        justify-content: $justify-content;
    }
    @if $align-items !=null{
        align-items: $align-items;
    }
}